In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:100% !important;}</style>"))
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# queries to SQL nutrient-foods tables

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
import pymysql
engine = create_engine("mysql+pymysql://root:tennis33@localhost/dashcnf?charset=utf8mb4")#, echo=True)

print(engine.table_names())

['Total_Kcal_foods', 'caffeine_foods', 'calcium_foods', 'carbohydrate_foods', 'cholesterol_foods', 'choline_foods', 'cryptoxanthin_foods', 'epa_foods', 'fluoride_foods', 'folate_foods', 'iron_foods', 'leucine_foods', 'lutein_zeaxanthin_foods', 'lycopene_foods', 'magnesium_foods', 'manganese_foods', 'niacin_foods', 'pantothenic_acid_foods', 'phosphorus_foods', 'polyunsat_fat_foods', 'potassium_foods', 'protein_foods', 'riboflavin_foods', 'sat_fat_foods', 'selenium_foods', 'sodium_foods', 'total_dietary_fiber_foods', 'total_sugar_foods', 'user', 'vitamin_b12_foods', 'vitamin_b6_foods', 'vitamin_c_foods', 'vitamin_d2_foods', 'vitamin_diu_foods', 'vitamin_e_foods', 'vitamin_k_foods', 'zinc_foods']

In [3]:
import pandas as pd
table_name = 'calcium_foods' 
sql = "SELECT * from " + table_name
#query = '''
#SELECT * from calcium-foods
#'''
print(sql)
df = pd.read_sql_query(sql, engine)
#conn = engine.connect()
#table_name = 'calcium-foods'
#df = pd.read_sql_query(query, engine )
print(df.head())

SELECT * from calcium_foods
                          Description          Measure  \
0                       Cheese, swiss  1.0 cups, diced
1                  Whey, sweet, dried         1.0 cups
2  Cheese, pasteurized process, swiss  1.0 cups, diced
3                   Cheese, provolone  1.0 cups, diced
4                    Cheese, muenster  1.0 cups, diced

   Calcium, Ca(mg)Per Measure
0                        1175
1                        1154
2                        1081
3                         998
4                         946

In [4]:
df.columns
df.iloc[0]

Description                     Cheese, swiss
Measure                       1.0 cups, diced
Calcium, Ca(mg)Per Measure               1175
Name: 0, dtype: object

# Test LIKE %food name% with CNF 
record num matches, num mismatches, USDA food matches

# Need USDA database in MySQL (link also has CNF in MySQL)

https://github.com/m5n/nutriana.git

In [6]:
! git clone https://github.com/m5n/nutriana.git

Cloning into 'nutriana'...
remote: Enumerating objects: 459, done.
remote: Total 459 (delta 0), reused 0 (delta 0), pack-reused 459
Receiving objects: 100% (459/459), 44.66 MiB | 94.00 KiB/s, done.
Resolving deltas: 100% (239/239), done.

### mysql command
source file.sql

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
import pymysql
engine_usda = create_engine("mysql+pymysql://root:tennis33@localhost/usda_nndsr")#, echo=True)

print(engine_usda.table_names())

['DATA_SRC', 'DATSRCLN', 'DERIV_CD', 'FD_GROUP', 'FOOD_DES', 'FOOTNOTE', 'LANGDESC', 'LANGUAL', 'NUTR_DEF', 'NUT_DATA', 'SRC_CD', 'WEIGHT']

In [3]:
import pandas as pd 
# want Long_Desc and NDB_No
sql = "SELECT * from FOOD_DES"
# want NDB_No, Nutr_No, Nutr_Val
sql2 = "SELECT * from NUT_DATA"
# want Nutr_No, NutrDesc, Units
sql3 = "SELECT * from NUTR_DEF"

food_desc_df = pd.read_sql_query(sql, engine_usda)
nut_data_df = pd.read_sql_query(sql2, engine_usda)
nutr_def_df = pd.read_sql_query(sql3, engine_usda)

In [4]:
# find lens
print(len(food_desc_df.index))
print(len(nut_data_df.index))
print(len(nutr_def_df.index))

8789
679045
150

In [6]:
#CNF mysql
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
import pymysql
engine_cnf = create_engine("mysql+pymysql://root:tennis33@localhost/canadian_nf")#, echo=True)

print(engine_cnf.table_names())

['CONVERSION_FACTOR', 'FOOD_GROUP', 'FOOD_NAME', 'FOOD_SOURCE', 'MEASURE_NAME', 'NUTRIENT_AMOUNT', 'NUTRIENT_NAME', 'NUTRIENT_SOURCE', 'REFUSE_AMOUNT', 'REFUSE_NAME', 'YIELD_AMOUNT', 'YIELD_NAME']

In [8]:
import pandas as pd 
# want Long_Desc and NDB_No
sql_cnf = "SELECT * from FOOD_NAME"


cnf_foodname_df = pd.read_sql_query(sql_cnf, engine_cnf)

In [10]:
target = 'Cheese, swiss'

cnf_foodname_df[cnf_foodname_df['FoodDescription'].str.contains(target, regex=False)]

,FoodID,FoodCode,FoodGroupID,FoodSourceID,FoodDescription,FoodDescriptionF,FoodDateOfEntry,FoodDateOfPublication,CountryCode,ScientificName
40,47,47,1,3,"Cheese, swiss (emmental)",Fromage suisse (emmental),1981-01-01,None,1040,
4027,5604,5604,1,35,"Cheese, swiss, low sodium","Fromage suisse, faible en sodium",2004-03-09,2003-08-01,43405,
4040,5617,5617,1,35,"Cheese, swiss, low fat","Fromage suisse, faible en gras",2004-03-09,2003-08-01,43589,

## CNF hits 3 times, if miss can send error message "search similar term in input" or also search USDA

In [14]:
#search usda
food_desc_df[food_desc_df['Long_Desc'].str.contains(target)]

,NDB_No,FdGrp_Cd,Long_Desc,Shrt_Desc,ComName,ManufacName,Survey,Ref_desc,Refuse,SciName,N_Factor,Pro_Factor,Fat_Factor,CHO_Factor
39,01040,0100,"Cheese, swiss","CHEESE,SWISS",,,Y,,0,,6.38,4.27,8.79,3.87
8732,43405,0100,"Cheese, swiss, low sodium","CHEESE,SWISS,LOW SODIUM",,,Y,,0,,0.00,0.00,0.00,0.00
8766,43589,0100,"Cheese, swiss, low fat","CHEESE,SWISS,LOW FAT",,,Y,,0,,0.00,0.00,0.00,0.00

# Search foods by nutrients conclusion
-connect this search to main search, list nutrients, either by using the default MongoDB CNF if CNF hit, otherwise new search on USDA MySQL

In [7]:
mask = food_desc_df['Long_Desc'] == "Cheese, swiss"

In [11]:
food = food_desc_df[mask]
print(type(food))
print(food)

<class 'pandas.core.frame.DataFrame'>
  NDB_No FdGrp_Cd       Long_Desc         Shrt_Desc ComName ManufacName  \
0  01001     0100  Butter, salted  BUTTER,WITH SALT

  Survey Ref_desc  Refuse SciName  N_Factor  Pro_Factor  Fat_Factor  \
0      Y                0              6.38        4.27        8.79

   CHO_Factor
0        3.87

In [26]:
ndb_no=food['NDB_No'].values
print(len(ndb_no), type(ndb_no))
print(str(ndb_no))
print(nut_data_df.columns)
'''
# want NDB_No, Nutr_No, Nutr_Val
sql2 = "SELECT * from NUT_DATA"
# want Nutr_No, NutrDesc, Units
sql3 = "SELECT * from NUTR_DEF"
'''

1 <class 'numpy.ndarray'>
['01001']
Index(['NDB_No', 'Nutr_No', 'Nutr_Val', 'Num_Data_Pts', 'Std_Error', 'Src_Cd',
       'Deriv_Cd', 'Ref_NDB_No', 'Add_Nutr_Mark', 'Num_Studies', 'Min', 'Max',
       'DF', 'Low_EB', 'Up_EB', 'Stat_cmt', 'AddMod_Date', 'CC'],
      dtype='object')

'\n# want NDB_No, Nutr_No, Nutr_Val\nsql2 = "SELECT * from NUT_DATA"\n# want Nutr_No, NutrDesc, Units\nsql3 = "SELECT * from NUTR_DEF"\n'

In [18]:
nut_data_df.head()

,NDB_No,Nutr_No,Nutr_Val,Num_Data_Pts,Std_Error,Src_Cd,Deriv_Cd,Ref_NDB_No,Add_Nutr_Mark,Num_Studies,Min,Max,DF,Low_EB,Up_EB,Stat_cmt,AddMod_Date,CC
0,01001,203,0.85,16,0.074,1,None,None,,0,0.0,0.0,0,0.0,0.0,,None,
1,01001,204,81.11,580,0.065,1,None,None,,0,0.0,0.0,0,0.0,0.0,,None,
2,01001,205,0.06,0,0.000,4,NC,None,,0,0.0,0.0,0,0.0,0.0,,None,
3,01001,207,2.11,35,0.054,1,None,None,,0,0.0,0.0,0,0.0,0.0,,None,
4,01001,208,717.00,0,0.000,4,NC,None,,0,0.0,0.0,0,0.0,0.0,,None,

In [29]:
print(ndb_no[0])
ndb_no = ndb_no[0]
mask2 = nut_data_df['NDB_No'] == ndb_no

01001

In [36]:
nutrient_rows = nut_data_df[mask2]
#print(type(nutrient_rows))
nut_num_and_val = nutrient_rows.loc[:, 'Nutr_No': 'Nutr_Val']
#nut_num_and_val.head()

In [ ]:
# step 3, get the nutrient names and units
#nutr_def_df
# add 2 cols to nut_num_and_val, iterate rows and for each Nutr_No, 
# get NutrDesc and units and fill the two cols