In [9]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:100% !important;}</style>"))
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [10]:
from sqlalchemy import create_engine
#engine = create_engine("mysql+pymysql://root:tennis33@localhost/dash_user?charset=utf8mb4", Echo=True)

# no Echo
engine = create_engine("mysql+pymysql://root:tennis33@localhost/dash_user?charset=utf8mb4")

In [5]:
meal = {"columns":["Ingredient","Amount","Units"],
        "data":[["Beans, kidney, sprouted, raw",333,"g"],
                ["Snacks, potato chips, dried potatoes, plain",333,"g"],
                ["Peach nectar, canned","333","ml"]]}
cols = meal['columns']
data = meal['data']

ingreds_df = pd.DataFrame(data, columns=cols)
print(ingreds_df.head())
ingreds_df.dtypes

                                    Ingredient Amount Units
0                 Beans, kidney, sprouted, raw    333     g
1  Snacks, potato chips, dried potatoes, plain    333     g
2                         Peach nectar, canned    333    ml

Ingredient    object
Amount        object
Units         object
dtype: object

In [6]:
engine.table_names()

['user', 'user_ingreds', 'user_meals']

In [8]:
# query db for highest meal number for user_id
from sqlalchemy import select, Table, Column, String,\
    MetaData
conn=engine.connect()
metadata=MetaData()
user_email = 'nobu.kim66@gmail.com'
#select table
user_tbl = Table('user', metadata, autoload=True, autoload_with=engine)
sql = select([user_tbl])
sql = sql.where(user_tbl.columns.email==user_email)
results = conn.execute(sql).fetchall()
user_id = ''
for res in results:
    print(res.id, res.email, res.first)
    if res.first =='Nobu':
        user_id = res.id
print(f'user id: {user_id}')

NameError: name 'engine' is not defined

In [11]:
# make meals df
meal_df = pd.DataFrame(columns=['user_id', 'meal_type', 'timestamp'])
print(meals_df.head())
meal_df.head()

Empty DataFrame
Columns: [user_id, meal_type, timestamp]
Index: []

Empty DataFrame
Columns: [user_id, meal_type, timestamp]
Index: []

In [47]:
meal_type = 'lunch'
from datetime import datetime
now=datetime.now()
formatted_date = now.strftime('%Y-%m-%d %H:%M:%S')
format_date2 = now.strftime('%Y-%m-%d')
print(format_date2)
print(formatted_date)
meal_df.loc[0, 'timestamp'] = formatted_date
meal_df.loc[0, 'user_id'] = user_id
meal_df.loc[0, 'meal_type'] = meal_type
#meal_df['timestamp'] = pd.Series(formatted_date, index=meal_df.index)
meal_df.head()

2020-12-13
2020-12-13 19:02:32

  user_id meal_type            timestamp
0       1     lunch  2020-12-13 19:02:32

In [16]:
meal_df.to_sql(name='user_meals', con=engine, if_exists='append', index=False)

# Using variables in sql stmt...how?

# Pythonic way, query meal_id

In [18]:
#pythonic way
from sqlalchemy import Table, MetaData
metadata = MetaData()
user_meals = Table('user_meals', metadata, autoload=True, autoload_with=engine)
stmt = select([user_meals])
stmt = stmt.where(user_meals.columns.user_id==user_id and 
                  user_meals.columns.timestamp==formatted_date)
print(stmt)
results = conn.execute(stmt).fetchall()
print(results)

SELECT user_meals.user_id, user_meals.meal_id, user_meals.meal_type, user_meals.timestamp
FROM user_meals
WHERE user_meals.user_id = :user_id_1
[(1, 1, 'lunch', datetime.date(2020, 12, 13))]

In [20]:
# get meal_id
print(len(results))
for res in results:
    meal_id = res.meal_id

meal_id

1

1

In [24]:
#add col to ingred_df
ingreds_df['meal_id'] = pd.Series(meal_id, index=ingreds_df.index)

ingreds_df.head()

                                    Ingredient Amount Units  meal_id
0                 Beans, kidney, sprouted, raw    333     g        1
1  Snacks, potato chips, dried potatoes, plain    333     g        1
2                         Peach nectar, canned    333    ml        1

In [26]:
reordered_cols = ['meal_id', 'Ingredient', 'Amount', 'Units']
ingreds_df = ingreds_df[reordered_cols]
ingreds_df.head()

   meal_id                                   Ingredient Amount Units
0        1                 Beans, kidney, sprouted, raw    333     g
1        1  Snacks, potato chips, dried potatoes, plain    333     g
2        1                         Peach nectar, canned    333    ml

In [27]:
#rename columns to match mysql
ingreds_df.columns = ['meal_id', 'ingred_name', 'ingred_amt', 'ingred_units']
ingreds_df.head()

,meal_id,ingred_name,ingred_amt,ingred_units
0,1,"Beans, kidney, sprouted, raw",333,g
1,1,"Snacks, potato chips, dried potatoes, plain",333,g
2,1,"Peach nectar, canned",333,ml

In [28]:
#upload
ingreds_df.to_sql(name='user_ingreds', con=engine, if_exists='append', index=False)

# Query to retrieve meals and ingreds between dates, calculate RDI per period
-total RDI = rdi per day * days
# RDI per  meal within period
meals vs RDI for day
# Offer alternative with better nutrition profile
-go through tables and recipes 

# Add text input to Meals for description
ex. "spaghetti with seafood, caesar salad, antipasto with Breton crackers"

# Query CNF, RDI, calculate the percentages for period

In [6]:
#success, now query
#https://stackabuse.com/converting-strings-to-datetime-in-python/pytho
#https://docs.python.org/3/library/datetime.html
from datetime import datetime
date_before = datetime.strptime('2020-12-10', '%Y-%m-%d').date()
date_after = datetime.strptime('2020-12-14', '%Y-%m-%d').date()
print(date_before, date_after)

2020-12-10 2020-12-14

In [11]:
#use variable
from sqlalchemy import Table, MetaData
engine.connect()
metadata = MetaData()
user_meals = Table('user_meals', metadata, autoload=True, 
                   autoload_with=engine)
stmt = select([user_meals])
results = conn.execute(stmt).fetchall()
res_dict = {}
for res in results:
    #date_of = datetime.strptime(res.timestamp, '%Y-%M-%d')
    date_of = res.timestamp
    if date_of < date_after and date_of > date_before and \
            user_id==user_id:
        meal_num = res.meal_id
        print(f'time: {res.timestamp}')
        
        print(res.timestamp, res.meal_type)
print(meal_num)

NameError: name 'user_meals' is not defined

In [41]:
conn = engine.connect()
#query ingreds table
user_ingreds = Table('user_ingreds', metadata, autoload=True, autoload_with=engine)

stmt = select([user_ingreds])
results = conn.execute(stmt).fetchall()
print(len(results))
stmt = stmt.where(user_ingreds.columns.meal_id==meal_num)
results = conn.execute(stmt).fetchall()
print(len(results))
recipe_df = pd.DataFrame(columns=['Ingredient', 'Amount', 'Units'])
i = 0
for res in results:
    print(res.ingred_name, res.ingred_amt, res.ingred_units)
    recipe_df.loc[i, 'Ingredient'] = res.ingred_name
    recipe_df.loc[i, 'Amount'] = res.ingred_amt
    recipe_df.loc[i, 'Units'] = res.ingred_units
    i += 1

print(recipe_df)
# for multiple meals use recipe_df_arr = []

3
3
Beans, kidney, sprouted, raw 333 g
Snacks, potato chips, dried potatoes, plain 333 g
Peach nectar, canned 333 ml
                                    Ingredient Amount Units
0                 Beans, kidney, sprouted, raw    333     g
1  Snacks, potato chips, dried potatoes, plain    333     g
2                         Peach nectar, canned    333    ml

In [1]:
# make nuts_totals_df from this for recipe nutrients
# for mutiple results add to df_arr and iterate df_arr to construct nuts_total_table 
# rdi is rdi * num days
from mongoengine import connect
connect('cnf')

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, read_preference=Primary())

In [2]:
from mongo_models import (
    CNFFoodName, CNFConversionFactor, CNFNutrientAmount,
    CNFYieldAmount, CNFRefuseAmount, CNFNutrientName
)

In [3]:
from dash_utils.Shiny_utils import (rdi_nutrients, make_food_to_id_dict, get_unit_names,
                                         make_foodgroup_df, make_conversions_df, make_nutrients_df,
                                         get_conversions_multiplier, mult_nutrients_df)
# used in layout for datalist
food_to_id_dict, food_names_arr, food_ids_arr = make_food_to_id_dict()

# dict of cnf nutrient names: nutrient units
nutrients = CNFNutrientName.objects
cnf_nutr_dict = {}
cnf_nutrient_names_all = []
cnf_nutrient_units_all = []
for n in nutrients:
    cnf_nutr_dict[str(n.name)] = str(n.unit)
    cnf_nutrient_names_all.append(str(n.name))
    cnf_nutrient_units_all.append(str(n.unit))

assert len(cnf_nutrient_names_all) == len(cnf_nutrient_units_all)
num_values = len(cnf_nutrient_names_all)
# make a base nutrients dataframe to cumulate into
nuts_totals_dict = {
    "Name": cnf_nutrient_names_all,
    "Value": ["0" for i in range(num_values)], # 0 should be str
    "Units": cnf_nutrient_units_all
}

In [5]:
# make df of nuts_totals
import pandas as pd
nuts_totals_df = pd.concat({k: pd.Series(v) for k, v in
                                             nuts_totals_dict.items()}, axis=1)

nuts_totals_df.head()

                                  Name Value Units
0                              PROTEIN     0     g
1                   FAT (TOTAL LIPIDS)     0     g
2  CARBOHYDRATE, TOTAL (BY DIFFERENCE)     0     g
3                           ASH, TOTAL     0     g
4                ENERGY (KILOCALORIES)     0  kCal

In [ ]:
# get rdi table for elements, vitamins, macros

In [ ]:
#just a sample, need to import functions
# todo: for multiple when reading
recipe_df_arr = []
for cumul_ingreds_df in recipe_df_arr:
    for index, row in cumul_ingreds_df.iterrows():
        #get first ingred
        curr_ingred = row['Ingredient']
        curr_ingred_amt = row['Amount'] #amt of the ingred, not nutrient
        curr_ingred_units = row['Units']
        # get food_id of ingred and make df of all nutrients adjusted for amounts vs. conversion
        food_id = food_to_id_dict[curr_ingred]
        # get df of nuts for ingred
        ingred_nuts_df = make_nutrients_df(food_id)
        # get conversions df for ingred
        ingred_conversions_df = make_conversions_df(food_id)
        # get multiplier and measure num ie. 350 ml / 100 ml = 3.5
        curr_multiplier, measure_num = get_conversions_multiplier(ingred_conversions_df, curr_ingred_units)
        #updated nuts for ingred
        ingred_nuts_df = mult_nutrients_df(ingred_nuts_df, curr_multiplier, measure_num, curr_ingred_amt)

        # index into nutrients_totals_df and add value
        for idx, row in ingred_nuts_df.iterrows():
            nut = row['Name']
            val = float(row['Value']) # add this to nuts_totals_df
            units = row['Units']
            #curr_totals_row = nuts_totals_df.loc[nuts_totals_df['Name']==nut]
            #todo: make all fields strings
            curr_total = nuts_totals_df.loc[nut, 'Value']
            new_total = str(float(curr_total) + val)
            nuts_totals_df.loc[nut, 'Value'] = new_total

# Practice setting date for calendar function

In [ ]:
#test date
from datetime import datetime
today = datetime.today().strftime('%Y-%m-%d')
date_arr = today.split('-')
year = int(date_arr[0])
month = int(date_arr[1])
day = int(date_arr[2])
print(year, month, day)

In [ ]:
#year ago, year ahead
now = datetime.now()
last_year = now.year - 1
#keep same month but on the first
#last_month = now.month-1 if now.month > 1 else 12
last_month = now.month
last_day = 1
print(last_year, 1, 1)

In [ ]:
# year ahead
next_year = now.year + 1 
print(next_year, 12, 31)
print(type(next_year))